In [1]:
# Automatically update imports
%load_ext autoreload
%autoreload 2

# Workaround for some autocomplete bug
%config Completer.use_jedi = False

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from data import train
from data import y, X, categorical, numerical

In [3]:
train

,attribute2,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,meanAge,gender,meanEducation,maritalStatus,plus,...,attribute1_2.0,attribute1_3.0,attribute1_4.0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7
1404,4.850075,3.082306,4.281904,3.791205,6.480146,7.813408,1.380382,11.580054,2.201123,1.650476,...,0,1,0,0,0,0,0,1,0,0
2184,2.910045,0.094506,1.709888,1.637009,0.059201,7.600842,0.000000,10.896544,1.410243,1.856786,...,0,1,0,0,0,0,0,0,1,0
796,4.850075,0.217541,0.994800,1.103595,0.193577,7.016162,0.849466,11.865126,0.987170,0.866500,...,0,1,0,0,0,0,0,0,1,0
25,3.880060,0.327738,1.566200,1.306937,0.509315,6.876952,0.000000,10.805739,1.645284,1.624688,...,0,1,0,0,0,1,0,0,0,0
1745,4.850075,0.389791,2.506703,2.351882,0.265934,8.667627,1.162427,11.653248,3.117380,1.476989,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1607,2.910045,0.148356,0.953555,0.978077,0.487702,6.334035,2.760765,10.170108,1.480755,1.856786,...,1,0,0,0,0,0,1,0,0,0
1814,3.395053,0.818453,1.120767,1.021958,0.853244,8.293363,1.310193,10.561266,2.467926,1.066959,...,1,0,0,0,0,0,0,0,0,1
1428,3.880060,0.077031,1.148068,1.164598,0.765853,10.134456,1.840510,13.983898,4.935852,4.332500,...,0,1,0,0,0,0,0,1,0,0
2441,3.880060,0.342360,1.135136,1.255794,0.270633,8.664960,0.828229,11.017617,3.701889,0.722083,...,0,1,0,0,1,0,0,0,0,0
271,4.850075,1.912934,2.557647,2.971503,1.382293,7.540722,2.012083,11.476042,2.235899,2.099596,...,0,1,0,0,0,0,0,1,0,0